.movies-wrapper
{
    background: #171717;
}
.results-wrapper
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr) ) ;
    gap: 20px;
    background: #212121;
    color: #ffffff;
}
.MuiPagination-ul button{
    color: white;

}
.Mui-selected
{
    background: #5a5a5a !important;
}